*{
  box-sizing: border-box;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;

    margin: 0;
    padding: 0;
}
body{
  background-color: #F4F4F6 !important;
   width: 100%;
   height: 100vh;
}
